$nunitosans-class-prefix: NunitoSans !default;
$nunitosans-font-path: "../components/fonts/NunitoSans" !default;

$font-family-base: "Nunito Sans";
$success: #4CAF50;
$initiate: #369DB5;
$white: #FFFFFF;



