@import "./styles/app.scss";
.App {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  padding: 95px 81px 65px 81px;
}

body {
  background: #eaeaea;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
